@page
@model AboutModel
@{
    ViewData["Title"] = "SynapEditor";
}
<environment include=""="Development">
    <link href="~/css/synapeditor.css" rel="stylesheet" type="text/css">
    <script src="~/js/synapeditor.js"></script>
</environment>

<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>


<p>Use this area to provide additional information.</p>
<div id="synapEditor" class="container"></div>

<environment include="Development">
    <script language=javascript>
        window.editor = new SynapEditor('synapEditor');
    </script>
</environment>
